
<nav class="navbar bg-light ">
  <div class="container">
    <ul class="navbar-nav flex-row me-auto mb-2 mb-lg-0">
      <li class="nav-item myNavItem">
        <a class="nav-link active" aria-current="page" href="#">Anasayfa</a>
      </li>
      <li class="nav-item myNavItem">
        <a class="nav-link" routerLink="products">Ürünler</a>
      </li>
      <li class="nav-item myNavItem">
        <a class="nav-link" routerLink="basket">Sepet</a>
      </li>
      <li class="nav-item myNavItem">
        <a class="nav-link" routerLink="admin"
            >Yönetim Paneli</a
          >
      </li>
    </ul>
    <button class="btn btn-outline-secondary" type="button" routerLink="login" *ngIf="!authService.isAuthenticated">Giriş Yap</button>
    <button class="btn btn-outline-warning mx-2" type="button" (click)="signOut()" *ngIf="authService.isAuthenticated">Çıkış Yap</button>
    <app-baskets *ngIf="authService.isAuthenticated"></app-baskets>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

<ngx-spinner size="default" name="s1" type="square-jelly-box"></ngx-spinner>
<ngx-spinner size="default" name="s2" type="ball-spin-clockwise"></ngx-spinner>
<!-- </div>
  </div>
</nav> -->
