<div
  class="d-flex justify-content-center align-items-center"
  style="min-height: 70vh"
>
  <div class="col-md-4">
    <div class="d-flex justify-content-center align-items-center flex-column">
      <h2>Şifremi Unuttum!</h2>
      <h3>Lütfen sisteme kayıtlı olan mail adresinizi giriniz!</h3>
    </div>
    <div class="card p-5">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Email address</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
          #txtEmail
        />
      </div>
      <div>
        <button type="submit" class="btn btn-primary" style="float: right" (click)="passwordReset(txtEmail.value)">
          Gönder
        </button>
      </div>
    </div>
  </div>
</div>
