.product-image-div {
  display: flex;

  max-width: 500px;
 overflow: auto;
}

.product-image-card {
  
  margin: 0.5rem;
  height: 300px;
}

.product-image {
  width: 200px;
  height: 80%;
  object-fit: scale-down;
}
